.svg-best{
	width: 48px;
	height: 48px;
	// fill:white;
}
.svg-cart{
	width: 17px;
	height:15px;
	fill: white;
}
.svg-comment{
	width: 16px;
	height:15px;
	fill: #9A6437;
}
.svg-favorit{
	width: 17px;
	height:15px;
	fill: white;
}
.svg-inst{
	width: 15px;
	height:17px;
	fill:#696969;
}
.svg-ln{
	width: 15px;
	height:16px;
	fill:#696969;
}
.svg-tw{
	width: 19px;
	height:17px;
	fill:#696969;
}
.svg-fb{
	width: 18px;
	height:18px;
	fill:#696969;
}
.svg-logo{
	width: 63px;
	height:71px;
	fill: #2C314B;
}
.svg-main-cart{
	width: 20px;
	height:19px;
	fill: #1B1A1A;
}
.svg-next{
	width: 17px;
	height:30px;
	fill: #1B1A1A;
}