@font-face {
  font-family: "NunitoSans Light";
  src: url("NunitoSans-Light.woff2") format("woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: url("NunitoSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "NunitoSans SemiBold";
  src: url("NunitoSans-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Nunito Light";
  src: url("Nunito-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  src: url("Oswald-Regular.woff2") format("woff2");
}