extends ../layouts/layout.pug

block content
	.start-page
		h1 Home Deasigns
		.start-page__cards
			a(href="../ui/colors.html") Компоненты дизайна
			a(href="main.html")
				span Главная страница
			
block variables
	-var title = "Стартовая";
