include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content
					ul.color-scheme
						li
							span.color-box(style="background-color:#1C1B1B;")
							span.color-name $base - #1C1B1B
						li
							span.color-box(style="background-color:#9A6437;")
							span.color-name $accent1 - #9A6437
						li
							span.color-box(style="background-color:#B47139;")
							span.color-name $accent2 - #B47139

						li
							span.color-box(style="background-color:#781414;")
							span.color-name $accent3 - #781414

							

						li
							span.color-box(style="background-color:#737373;")
							span.color-name $sec1 - #737373
						li
							span.color-box(style="background-color:#D3CBC5;")
							span.color-name $sec2 - #D3CBC5
						li
							span.color-box(style="background-color:#808080;")
							span.color-name $sec3 - #808080						

						li
							span.color-box(style="background-color:#E5E6E6;")
							span.color-name $catBg - #E5E6E6
						li
							span.color-box(style="background-color:#F7F7F7;")
							span.color-name $cardBg - #F7F7F7
						
						li
							span.color-box(style="background-color:#DDD7D1;")
							span.color-name $sectionBg - #DDD7D1

							

							