include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul
						li.bg-dark
							svg.svg-best
								use(href="./img/svg-sprite.svg#svg-best")
						li.bg-dark
							svg.svg-cart
								use(href="/img/svg-sprite.svg#svg-cart")
						li
							svg.svg-comment
								use(href="/img/svg-sprite.svg#svg-comment")
						li.bg-dark
							svg.svg-favorit
								use(href="/img/svg-sprite.svg#svg-favorit")
						li
							svg.svg-inst
								use(href="/img/svg-sprite.svg#svg-inst")
						li
							svg.svg-ln
								use(href="/img/svg-sprite.svg#svg-ln") 
						li
							svg.svg-tw
								use(href="/img/svg-sprite.svg#svg-tw")
						li
							svg.svg-fb
								use(href="/img/svg-sprite.svg#svg-fb")
						li
							svg.svg-logo
								use(href="/img/svg-sprite.svg#svg-logo")
						li
							svg.svg-main-cart
								use(href="/img/svg-sprite.svg#svg-main-cart")
						li
							svg.svg-next
								use(href="/img/svg-sprite.svg#svg-next")

					
					