include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul
						li
							.bg-dark
								svg.svg-best
									use(href="/img/svg-sprite.svg#svg-best")
							pre.
								svg.svg-best
									use(href="./img/svg-sprite.svg#svg-best")

						li
							.bg-dark
								svg.svg-cart
									use(href="/img/svg-sprite.svg#svg-cart")
							pre.
								svg.svg-cart
									use(href="./img/svg-sprite.svg#svg-cart")
								
						li
							svg.svg-comment
								use(href="/img/svg-sprite.svg#svg-comment")
							pre.
								.svg-comment
									use(href="./img/svg-sprite.svg#svg-comment")
								
						li
							.bg-dark
								svg.svg-favorit
									use(href="/img/svg-sprite.svg#svg-favorit")
							pre.
								.svg-favorit
									use(href="./img/svg-sprite.svg#svg-favorit")
								
						li
							svg.svg-inst
								use(href="/img/svg-sprite.svg#svg-inst")
							pre.
								svg.svg-inst
									use(href="./img/svg-sprite.svg#svg-inst")
								
						li
							svg.svg-ln
								use(href="/img/svg-sprite.svg#svg-ln")
							pre.
								svg.svg-ln
									use(href="./img/svg-sprite.svg#svg-ln")
								 
						li
							svg.svg-tw
								use(href="/img/svg-sprite.svg#svg-tw")
							pre.
								svg.svg-tw
									use(href="./img/svg-sprite.svg#svg-tw")
								
						li
							svg.svg-fb
								use(href="/img/svg-sprite.svg#svg-fb")
							pre.
								svg.svg-fb
									use(href="./img/svg-sprite.svg#svg-fb")
								
						li
							svg.svg-logo
								use(href="/img/svg-sprite.svg#svg-logo")
							pre.
								svg.svg-logo
									use(href="./img/svg-sprite.svg#svg-logo")
								
						li
							svg.svg-main-cart
								use(href="/img/svg-sprite.svg#svg-main-cart")
							pre.
								svg-main-cart
									use(href="./img/svg-sprite.svg#svg-main-cart")
								
						li
							svg.svg-next
								use(href="/img/svg-sprite.svg#svg-next")
							pre.
								svg.svg-next
									use(href="./img/svg-sprite.svg#svg-next")
						li
							svg.svg-prev
								use(href="/img/svg-sprite.svg#svg-prev")
							pre.
								svg.svg-prev
									use(href="./img/svg-sprite.svg#svg-prev")

						li
							.bg-dark
								svg.svg-reload
									use(href="/img/svg-sprite.svg#svg-reload")
							
							pre.
								svg.svg-reload
									use(href="./img/svg-sprite.svg#svg-reload")

						li
							.bg-dark
								svg.svg-returns
									use(href="/img/svg-sprite.svg#svg-returns")
							pre.
								svg.svg-returns
									use(href="./img/svg-sprite.svg#svg-returns")

						li
							svg.svg-search
								use(href="/img/svg-sprite.svg#svg-search")
							pre.
								svg.svg-search
									use(href="./img/svg-sprite.svg#svg-search")

						li
							.bg-dark
								svg.svg-secure
									use(href="/img/svg-sprite.svg#svg-secure")
								pre.
									svg.svg-secure
										use(href="./img/svg-sprite.svg#svg-secure")

						li
							svg.svg-shipping
								use(href="/img/svg-sprite.svg#svg-shipping")
							pre.
								svg.svg-shipping
									use(href="./img/svg-sprite.svg#svg-shipping")

						li
							svg.svg-star
								use(href="/img/svg-sprite.svg#svg-star")
							pre.
								svg.svg-star
									use(href="./img/svg-sprite.svg#svg-star")

						li
							svg.svg-user
								use(href="/img/svg-sprite.svg#svg-user")
							pre.
								svg.svg-user
									use(href="./img/svg-sprite.svg#svg-user")


								